<main class="gallery">
	<div class="grid-sizer"></div>
	{% for img in site.data.gallery.anapa.urls %}
	<div class="grid-item">
		<img src="/assets/img/transparent.gif" data-original="{{img}}" alt="{{site.data.gallery.anapa.alt}}">
	</div>
	{% endfor %}
</main> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/assets/js/jquery.lazyload.js"></script>
<script src="/assets/js/masonry.pkgd.js"></script>

<script>
	var images = $('img');
	var grid = $('main.gallery');

	grid.masonry({
		itemSelector: '.grid-item',
		columnWindth: '.grid-sizer',
		gutter: 5,
		percentPosition: true
	});

	images.lazyload({
		effect: "fadeIn",
		load: function () {
			grid.masonry('layout');
		}
	});
</script>
