<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/assets/js/jquery.lazyload.js"></script>
<script src="/assets/js/masonry.pkgd.js"></script>
<script src="/assets/js/fslightbox.js"></script>

<script>
	var images = $('img');
	var grid = $('main.gallery');

	grid.masonry({
		itemSelector: '.grid-item',
		columnWindth: '.grid-sizer',
		gutter: 5,
		percentPosition: true
	});

	images.lazyload({
		effect: "fadeIn",
		effectTime: 1000,
		threshold: 0,
		delay: 5000,
		// imageBase: 'images/'
		load: function () {
			grid.masonry('layout');
		}
	});
</script>