main.gallery {
	width: 98%;
	height: 98%;
	margin: 15px auto;
.gallery {
	height: 98%;
}
// 	@media screen and (min-width: 600px) {
// 	column-count: 2;
// 	column-gap: 5px;
// }
// 	@media screen and (min-width: 800px) {
// 	column-count: 3;
// 	column-gap: 5px;
// }

	img {
		width: 100%;
	};
}

.grid-sizer,
.grid-item {
	width: 32%;

	@media screen and (max-width: 2000px) {
		width: 49%;		
	}
	@media screen and (max-width: 505px) {
		width: 98%;
	}
}

.grid-item {
	float: left;
	margin-bottom: 5px;
}